:root {
    --background: #E2B4BD;
    --title: #9B6A6C;
    --text: #F1E9DA;
    --link: #84A07C;
    --subtitle: #424B54;
}

body {
    background-color: var(--background);
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
}

h7 {
    color: var(--title);
    text-shadow: 0 0 2px var(--subtitle), 0 0 5px var(--subtitle);
}

h1 {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 100px;
    }
    
    @keyframes textclip {
    to {
        background-position: 200% center;
    }
}

h2 {
    color: var(--title);
    text-shadow: 0 0 1px var(--title), 0 0 3px var(--title);
}

h3 {
    color: var(--title);
    text-shadow: 0 0 1px var(--title), 0 0 2px var(--title);
}

h4 {
    color: var(--title);
    font-weight: 600;
}

h5 {
    color: var(--text);
    text-shadow: 0 0 1px var(--text), 0 0 2px var(--text);
}

p,
ul,
li {
    color: var(--text)
}

button {
    background-color: var(--link);
    color: var(--background);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    font-size: 14pt;
    filter: drop-shadow(0 0 .2rem var(--link));
}

button:hover {
    filter: drop-shadow(0 0 1rem var(--link));
}

.page-enter-active,
.page-leave-active {
    transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.content-div {
    margin-top: 1em;
    padding-left: .6em;
    padding-right: .6em;

}

.active-link {
    color: var(--link);
    text-shadow: 0 0 1px var(--link), 0 0 3px var(--link);
    font-weight: bold;
}

.inactive-header-link {
    color: var(--title);
    text-decoration: none;
}

.inactive-header-link:visited {
    color: var(--title);
    text-decoration: none;
}

.inactive-header-link:hover {
    text-shadow: 0 0 1px var(--title), 0 0 8px var(--title);
}

.inactive-link {
    color: var(--link);
    text-decoration: none;
}

.inactive-link:visited {
    color: var(--link);
    text-decoration: none;
}

.inactive-link:hover {
    text-shadow: 0 0 1px var(--link), 0 0 3px var(--link);
}

.horizontal-line {
    border: 1px solid var(--subtitle);
}

.date {
    margin-top: 0;
    font-weight: 400;
    color: var(--subtitle)
}

.center-div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.number {
    text-shadow: 0 0 1px var(--link), 0 0 3px var(--text);
}

.profile-img {
    margin-right: 40px; /* Add spacing between image and text */
    margin-left: 40px; 
    width: 20%;
    height: auto; /* Maintain aspect ratio */
}

.introSection {
    display: flex;
    align-items: center;
    margin-top: 40px; /* Adds space above the section */
    margin-bottom: 20px;
    background-color: var(--link); /* Light gray background color */
    padding: 20px; /* Add padding for spacing inside the section */
    border-radius: 10px; /* Optional: Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for better visual separation */
}